#title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 138px;
    font-size: 110px;
}
#descriptionTitle{
    color:white;
    position: absolute;
    top: 330px;
    font-size: 30px;
    left: 138px;
}
nav{
    height: 50px;;
}
.alert{
    text-align: center;
}