img{
    height: 300px;
}
#card {
    position: absolute;
    top: 10px!important;
    left: 250px!important;
    width: 800px!important;
    height: 70px!important;
    background-color: rgba(79, 195, 247,0.7);
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  .center{
      text-align:center;
  }