#title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 138px;
    font-size: 110px;
}
#descriptionTitle{
    color:white;
    position: absolute;
    top: 330px;
    font-size: 30px;
    left: 138px;
}
nav{
    height: 50px;;
}
.notification{
    color: red!important;
    font-size: 15px;
    position: absolute;
    top: 35px!important;
}
.emailnotif{
    color: red!important;
    font-size: 15px;
    position: absolute;
    top: 200px!important;

}
.unamenotif{
    color: red!important;
    font-size: 15px;
    position: absolute;
    top: 322px!important;
}
.connotif{
    color: red!important;
    font-size: 15px;
    position: absolute;
    top: 260px!important;
}
.passwordNotif{
    color: red!important;
    font-size: 15px;
    position: absolute;
    top: 384px!important;
}
